<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quinnstephens.test.youtubevimeotest.app" >

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.quinnstephens.test.youtubevimeotest.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VimeoActivityAlt"
            android:label="@string/title_activity_video" >
        </activity>
        <activity
            android:name="com.quinnstephens.test.youtubevimeotest.app.YouTubeActivity"
            android:label="YouTube Activity" />
        <activity
            android:name=".VimeoActivity"
            android:label="@string/title_activity_vimeo_alt" >
        </activity>
        <activity
            android:name="com.quinnstephens.test.youtubevimeotest.app.VideoActivity"
            android:label="@string/title_activity_video" >
        </activity>
        <activity
            android:name="com.quinnstephens.test.youtubevimeotest.app.StandalonePlayerDemoActivity"
            android:label="StandalonePlayerActivity">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
